/* Simple Slider */
.white-back{
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	background: #e6e6e6;
}
  .simple blockquote p {
	border-top: 1px solid #ccc;
	color: #1e528e;
	padding: 25px;
	font-size: 1.1em;
	font-style: italic;
	text-align: center;
  }
  .simple cite {
	font-size: 1em;
	float: right;
	font-style: normal;
	color: #1e528e;
  }
  .simple cite a {
	color: #2d91c2;
	font-style: italic;
	text-decoration: none;
	font-size:.85em;
  }
  .simple cite a:hover {
	color: #00B4CC;
  }
  